.batareya {
    width   : 300px;
    height  : 80px;
    border  : 5px solid black;
    margin  : 200px 500px 100px 100px;
    position: relative;


    &::after {
        content        : "";
        width          : 150px;
        height         : 80px;
        background     : green;
        position       : absolute;
        cursor         : pointer;
        display        : flex;
        align-items    : center;
        justify-content: center;

    }


    &::before {
        content         : "";
        width           : 5px;
        height          : 50px;
        border          : 5px solid black;
        position        : absolute;
        right           : -15px;
        top             : 10px;
        cursor          : pointer;
        display         : flex;
        align-items     : center;
        justify-content : center;
        background-color: black;


    }
}

.menyobchee {
    width          : 650px;
    height         : 40px;
    margin         : 200px 300px 100px 100px;
    display        : flex;
    align-items    : center;
    justify-content: flex-start;




    &__meny {
        width          : 250px;
        height         : 40px;
        border         : 2px solid black;
        text-align     : left;
        cursor         : pointer;
        position       : relative;
        display        : flex;
        align-items    : center;
        justify-content: center;
        background     : linear-gradient(green, yellow, red);
        clip-path      : polygon(0% 0%, 80% 0%, 100% 50%, 80% 100%, 0% 100%);
        text-align     : center;
        font-weight    : bold;
        padding-right  : 25px;






        &:hover {
            transform: translateX(-50px);

        }





    }
}


@mixin maiflex ($hor: center, $vert:center, $pos:row) {
    display        : flex;
    justify-content: $hor;
    /*горизонталь*/
    align-items    : $vert;
    /*вертикаль*/
    flex-direction : $pos;
}

.block {
    width     : 450px;
    height    : 200px;
    border    : 2px solid red;
    padding   : 10px;
    box-sizing: border-box;
    @include maiflex(space-between);





    @media screen and (max-width: 1024px) {
        flex-wrap     : wrap;
        padding-bottom: 10px;

    }


    @media screen and (max-width: 768px) {
        flex-wrap     : nowrap;
        flex-direction: column;
        padding-bottom: 0;



    }

    &__kart {
        width : 100px;
        height: 100px;
        @include maiflex();





        @media screen and (max-width: 1024px) {
            width        : 49%;
            margin-bottom: 10px;
            margin-left  : 0;

        }


        @media screen and (max-width: 768px) {
            width: 50%;





        }
    }

}