@charset "UTF-8";
.batareya {
  width: 300px;
  height: 80px;
  border: 5px solid black;
  margin: 200px 500px 100px 100px;
  position: relative; }
  .batareya::after {
    content: "";
    width: 150px;
    height: 80px;
    background: green;
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; }
  .batareya::before {
    content: "";
    width: 5px;
    height: 50px;
    border: 5px solid black;
    position: absolute;
    right: -15px;
    top: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black; }

.menyobchee {
  width: 650px;
  height: 40px;
  margin: 200px 300px 100px 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  .menyobchee__meny {
    width: 250px;
    height: 40px;
    border: 2px solid black;
    text-align: left;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(green, yellow, red);
    clip-path: polygon(0% 0%, 80% 0%, 100% 50%, 80% 100%, 0% 100%);
    text-align: center;
    font-weight: bold;
    padding-right: 25px; }
    .menyobchee__meny:hover {
      transform: translateX(-50px); }

.block {
  width: 450px;
  height: 200px;
  border: 2px solid red;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  /*горизонталь*/
  align-items: center;
  /*вертикаль*/
  flex-direction: row; }
  @media screen and (max-width: 1024px) {
    .block {
      flex-wrap: wrap;
      padding-bottom: 10px; } }
  @media screen and (max-width: 768px) {
    .block {
      flex-wrap: nowrap;
      flex-direction: column;
      padding-bottom: 0; } }
  .block__kart {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    /*горизонталь*/
    align-items: center;
    /*вертикаль*/
    flex-direction: row; }
    @media screen and (max-width: 1024px) {
      .block__kart {
        width: 49%;
        margin-bottom: 10px;
        margin-left: 0; } }
    @media screen and (max-width: 768px) {
      .block__kart {
        width: 50%; } }
